*{
    padding: 0;
    margin: 0;
}

a{
    text-decoration: none;
}

header{
    width: 100%;
    height: 610px;
    background: url(../img/header/head.jpg) no-repeat;
    background-size: 100% auto;

}

.topLine{
    width: 100%;
    height: 10px;
    background-color: rgb(46, 204, 113);
}

header p {
    font-family: 'Pacifico', cursive;
    font-size: 50pt;
    color: #fff;
    margin-top: 180px;
    margin-left: 325px;
}

header p span{
    color: rgb(96, 174, 99);
}
