* {
    padding: 0;
    margin: 0;
}

.topLine {
    width: 100%;
    height: 10px;
    background-color: rgb(46, 204, 113);
}

header {
    width: 100%;
    background: url(../img/header/head.jpg) no-repeat top center / cover;
    background-size: 100% auto;
}

header .logo {
    width: 183px;
    height: 83px;
    font-size: 60px;
    font-weight: 400;
    line-height: 20px;
    font-family: 'Pacifico', cursive;
    font-size: 60px;
    color: #fff;
    margin-top: 167px;
    margin-left: 124px;
}

header .logo span {
    color: rgb(96, 174, 99);
}

header p {
    font-family: 'Helvetica', cursive;
    width: 453px;
    height: 59px;
    color: #ffffff;
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
    margin-left: 128px;
    margin-top: 20px;
    font-size: 24px;
}

header .hand {
    margin-left: 59px;
    margin-top: 83px;
}

header .icons {
    margin-top: 26px;
    margin-left: 115px;
}

header .icons a {
    width: 53px;
    height: 53px;
    text-decoration: none;
    background-color: rgba(3, 3, 3, 0.6);
    border-radius: 100%;
    float: left;
    margin-left: 14px;
    display: grid;
    align-items: center;
    justify-content: center;
}

header .icons a {
    font-family: 'icomoon';
    color: rgba(244, 244, 244, 0.6);
    font-size: 25px;
}

header .icons a:hover {
    color: rgba(244, 244, 244, 1);
    background-color: rgb(46, 204, 113);
}

/*************************************** main *************************************/

main .futures {
    display: grid;
    justify-items: center;
    margin-top: 60px;
}

main .icons {
    width: 98px;
    height: 98px;
    border-radius: 100%;
    background-color: #2ecc71;
    display: grid;
    align-items: center;
    justify-content: center;
    margin-bottom: 31px;
}

main .futures p:nth-child(2) {
    font-family: 'Raleway', sans-serif;
}

main .futures p:nth-child(3) {
    width: 313px;
    height: 42px;
    color: #848484;
    font-family: "Helvetica";
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
    margin-bottom: 58px;
}

.notified {
    background-color: #e3e3e3;
    width: 100%;
}

.notified p:nth-child(1) {
    font-family: "Raleway", sans-serif;
    color: #222222;
    font-size: 22px;
    font-weight: 400;
    line-height: 18px;
    margin-top: 59px;
    margin-left: 10px;
}

.notified p:nth-child(2) {
    color: #848484;
    font-family: "Helvetica";
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-top: 25px;
    margin-left: 10px;
}

.notified input[type="text"] {
    width: 310px;
    height: 59px;
    border: 1px solid #c8c8c8;
    background-color: #ffffff;
    border-radius: 15px 0 0 15px;
    padding-left: 30px;
    color: #848484;
    font-family: "Helvetica";
    font-size: 18px;
    font-weight: 400;
    margin-left: 10px;
}

.notified button {
    width: 140px;
    height: 59px;
    margin-top: 13px;
    border: none;
    border-radius: 0 15px 15px 0;
    margin-left: -5px;
    background-color: #2ecc71;
    font-family: "Raleway", sans-serif;
    color: #ffffff;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 145px;
}
